{% extends "main.html" %}
{% block content %}
    {% if rooms %}
        <h1>Rooms available in our database</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Capacity</th>
                <th>Available now</th>
                <th>Projector</th>
                <th>Action</th>
             </tr>
            {% for room in rooms %}
            <TR>
                <TD><a href="/room/{{room.id}}/">{{room.name}}</a></TD>
                <TD>{{room.capacity}}</TD>
                {% if room.reserved %}
                    <TD>Yes</TD>
                {% else %}
                    <TD>No</TD>
                {% endif %}
                {% if room.projector %}
                    <TD>Yes</TD>
                {% else %}
                    <TD>No</TD>
                {% endif %}
                <TD>
                    <form action="/room/modify/{{room.id}}/">
                        <input type="submit" value="Modify"/>
                    </form>
                    <form action="/room/delete/{{room.id}}">
                        <input type="submit" value="Remove"/>
                    </form>
                    <form action="/room/reserve/{{room.id}}">
                        <input type="submit" value="Reserve"/>
                    </form>
                    <form action="/room/room_reservations/{{room.id}}">
                        <input type="submit" value="All reservations"/>
                    </form>
                </TD>
            </TR>
            </TR>
            {% endfor %}
        </table>
    {% else %}
        <p>No rooms available</p>
    {% endif %}
{% endblock %}
